# -*- coding: utf-8 -*-
"""
Created on Thu Mar 10 15:35:20 2016

@author: ruth
"""

#ignore files ending in .pyc
*.pyc

#ignore Ruth's random testing file and some notes
randomTests.py 
InputOutputNotebook.ipynb
