# files we don't need to track
*.csv
*.pyc
*.pkl
*.rds
*.png
.*
.pkl
*.csv
~$*

#ignore Ruth's random testing file and some notes
randomTests.py 
optimisationPractice.py
InputOutputNotebook.ipynb
.DS_Store
.spyderworkspace
main_ruth.py
seminar_plotting.py
reformat_data.py
Malaria_example.py
Results*
